<!doctype HTML>
<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <div class="col-md-8">
<p>
Usando a Realidade Aumentada para auxiliar o ensino de
Geometria na disciplina de Computação Gráfica, no curso Ciência da Computação da UFFS
</p>
</div>
<br><br>
    <div class="col-md-8">
        <p>
            Clique <a href='/objetos'>aqui</a> para abrir a tela e fazer a leitura dos marcadores
            <br>
            Clique <a href='/admin'>aqui</a> para administrar os dados e cadastrar novos marcadores
        </p>
    </div>
</html>