{% extends 'pages/base.html' %}

{% block content %}
    {% for objeto in objetos_list %}
        <div class="post">
            <div class="date">
                <p>id_marcador: {{ objeto.id_marcador }}</p>
            </div>
            <a class="btn btn-default" href="{% url 'objeto_editar' pk=objeto.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>        
            <a class="btn btn-default" href="{% url 'objeto_remover' pk=objeto.pk %}"><span class="glyphicon glyphicon-remove"></span></a>        
            <h2><a href="">{{ objeto.nome }}</a></h2>
            <p>{{ objeto.path_modelo|linebreaksbr }}</p>
            <p>{{ objeto.descricao|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
